@import "reset";
@import "typeface";

:root {

    --bkg: #d9d9d9;
    --frg: #e6e6e6;
    --mdg: #c2c2c2;

    --github: #6e40c9;
    --gitlab: #e24329;

    --code-bg: #222828;
    --code-fg: #b6b6b6;

}

html, body {
    background-color: var(--bkg);
    font-family: Inter, Arial, Helvetica, sans-serif;
}

header h1 {
    font-family: Inter Bold, Arial, Helvetica, sans-serif;
}

header h1 span {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    margin-left: 0.25em;
}

main, header, footer {
    background-color: var(--mdg);
    border-bottom: 0.1em;
    border-bottom-color: var(--frg);
    border-bottom-style: solid;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
    max-width: 900px;
    padding: 1em;
    width: 70%;
}

header, footer {
    border-radius: 1em;
}

header {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    display: flex;
    justify-content: space-between;
    margin-top: 4em;
}

header div {
    padding-top: 0.5em;
}

header div a {
    padding: 0.5em;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

header div a {
    border: 0.1em;
    border-style: solid;
    border-bottom-right-radius: 0.5em;
    border-top-left-radius: 0.5em;
}

header div a:hover {
    background-color: var(--frg);
}

nav {
    padding-bottom: 1em;
    padding-top: 1em;
}

figure {
    margin-bottom: 4em;
    margin-left: auto;
    margin-right: auto;
    max-width: 500px;
}

footer {
    align-items: center;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    display: flex;
}

footer a {
    display: block;
    width: 2em;
}

footer a:nth-of-type(2) {
    margin-left: 0.5em;
    width: 1.35em;
}

footer a svg path {
    -moz-transition: fill 0.5s ease;
    -o-transition: fill 0.5s ease;
    -webkit-transition: fill 0.5s ease;
    transition: fill 0.5s ease;
}

footer a:first-of-type:hover svg path {
    fill: var(--gitlab);
}

footer a:nth-of-type(2):hover svg path {
    fill: var(--github);
}

section h1 {
    border-bottom: 0.2em;
    border-bottom-style: solid;
    margin-bottom: 0.5em;
}

pre {
    background-color: var(--code-bg);
}

pre {
    padding: 1em;
}

code {
    color: var(--code-fg);
}

table {
    font-size: 0.9em;
    margin-bottom: 2em;
    margin-top: 1em;
    width: 100%;
}

table thead {
    border-bottom: 0.1em;
    border-bottom-style: solid;
}

table thead th {
    font-family: "Inter Bold";
    padding-bottom: 0.5em;
    padding-right: 1em;
    text-transform: capitalize;
}

table tbody td {
    padding-bottom: 0.25em;
    padding-top: 0.25em;
}