@font-face {

    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("~@fontsource/inter/files/inter-latin-400-normal.woff2") format("woff2");

}

@font-face {

    font-family: "Inter Bold";
    font-style: normal;
    font-weight: 700;
    src: url("~@fontsource/inter/files/inter-latin-700-normal.woff2") format("woff2");

}